/* debug */
.debug{
  background-color: rgba(47, 79, 79, .2);
  border: 1px solid black;
}
.min-h-300{
  min-height: 300px;
}
.min-h-25 {
  min-height: 25px;

}
.min-h-100 {
  min-height: 100px;
}

.min-h-50 {
  min-height: 50px;
}

.min-h-500 {
  min-height: 500px;
}

.min-h-800 {
  min-height: 800px;
}

/* /debug */


/* HEADER */

.sony-start {
  background-color: black;
}


.nav-sony {
  margin-top: 26px;
}





/* HEADER */


/* JUMBOTRON */


.jumbotron {
  background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
  

}